*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url(images/93fa7d96b0e3d2254a7998eae1f19041.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
}

header{
    display: flex;
    border-bottom: 2px solid white;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

nav{
    display: flex;
    width: 50%;
}

ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style:none ;
}