*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --main-bg-color:'Audiowide', cursive;
  }

body{
    height: 100vh;
    background-image: url(images/93fa7d96b0e3d2254a7998eae1f19041.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
}

header{
    display: flex;
    border-bottom: 2px solid white;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}

nav{
    display: flex;
    width: 50%;
}

ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style:none ;
}

section{
    background-image: url(images/photo-1624696941338-934bf86c28b4.avif);
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 1em #5c06b8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 700px;
    margin: auto;
    height: 450px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-areas: 
    ".myname .myphoto"
    ".buttons .myphoto";
}

h1{
    color: white;
    
}

.myname{
    grid-area: myname;
    background-color: #5c06b86e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom:-175px;
}

.myphoto{
    grid-area: myphoto;
}

.buttons{
    grid-area:buttons;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

button{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    color: white;
    background-color: #5c06b8ea;
    border: 0;
}