*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

h1{
    border: 2px solid white; 
    width: 700px;
    height: 50px;
    text-align: center;
    padding: 10px;
}

.principal{
    border: 2px solid white;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteudo{
    border: 2px solid white;
    text-align: center;
    padding: 30px;
    box-shadow: 2px 2px black;
    border-radius: 10px;
}

.conteudo input{
    margin-top: 20px;
    height: 30px;
    width: 90px;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
}

.botaocalc{
    border: 2px solid white;
}

button{
    width: 280px;
    height: 60px;
    border-radius: 15px;
    font-size: 2em;
}

button:hover{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}